@import "vars";
@import "nullstyle";
@import "ibg";
@import "transitions";

._container {
    width: 1024px;
    max-width: 95%;
    margin: 0 auto;

    &__header {

        @media screen and (max-width: 512px){
            flex-wrap: wrap;
        }

        display: flex;
        align-items: center;
        margin-bottom: 48px;
        &>h1 {
            padding-left: 20px;
            font-weight: 500;
            font-size: 32px;
            position: relative;
            margin-right: 15px;
            &::before {
                content: "#";
                font-weight: 500;
                color: $accentColor;
                position: absolute;
                top: 0;
                left: 0px;
            }
        }
        &__line {
            min-width: 40px;
            flex-grow: 1;
            height: 1px;
            background: $accentColor;
        }
        &__more {
            a {
                color: #FFFFFF;
                margin-left: 10%;
                white-space: nowrap;
                span {
                    display: inline-block;
                }
            }
        }

    }
}



body {
    background-color: $bgColor;
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
    color: $textGrayColor;
}

.header {
    margin-bottom: 70px;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 80px;
    align-items: center;

    &__logo {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 30px;
    }

    &__burger {
        @media screen and (min-width: 650px) {
            display: none;
        }
        

        &__button {
            display: block;
            position: relative;
            width: 40px;
            height: 30px;
            z-index: 23;

            .header__burger_active & {
                position: fixed;
                display: block;
                right: 10px;
                width: 40px;
                height: 30px;
                top: 40px;
                z-index: 23;
            }

                        
            span::before,
            span::after,
            span {
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: $accentColor;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            }
            span {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
            span::before {
            content: '';
            top: -12px;
            }
            span::after {
            content: '';
            top: 12px;
            }
        }

        &_active span {
            background-color: transparent;
          }
          &_active span::before {
            top: 0;
            transform: rotate(45deg);
            background-color: $bgColor;
          }
          &_active span::after{
            top: 0;
            transform: rotate(-45deg);
            background-color: $bgColor;
          }


          &__nav {
            padding-top: 120px;
            position: fixed;
            top: 0;
            z-index: 20;
            display: flex;
            flex-flow: column;
            height: 130vh;
            background-color: $accentLightColor;;
            overflow-y: auto;
            right: -100%;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -o-transition: 0.8s;
            transition: 0.8s;
          }

          &_active &__nav {
            right: 0;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
          }


          &__nav {
            a {
                padding: 18px 35px;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-weight: 400;
                color: $bgColor;
                font-weight: bold;
                z-index: 11;
              }
          }

          &__overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
          }

          &_active  &__overlay {
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
          }
     

    }

    &__links {
        justify-content: flex-end;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        align-items: center;

        @media screen and (max-width: 650px) {
            display: none;
        }

        
        &>a {
            
            position: relative;
            white-space: nowrap;
        }
        &>a::before {
            content: "#";
            font-weight: 500;
            color: $accentColor;
            position: absolute;
            top: 0;
            left: -10px;
        }
        &>a:not(:last-child) {
            margin-right: 20%;
        }

        
        a {
            color: $textGrayColor;
            @include transition(0.5s);
        }

        a:focus, a:active, a:hover {
            color: #FFFFFF;
            border-bottom: 2px solid white;
            @include transition(0.5s);
        }


    }
}


.welcomeBlock {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 650px) {
        flex-direction: column-reverse;
    }
    &__text {
        width: calc(100% - 360px);
        @media screen and (max-width: 800px) {
            width: calc(100% - 40%);
        }

        @media screen and (max-width: 650px) {
            width: 100%;
        }
        padding-top: 74px;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        align-items: start;

        &>h1 {
            margin-bottom: 32px;
            font-weight: 600;
            font-size: 32px;

            @media screen and (max-width: 420px){
                font-size: 25px;
            }
        }
        &>p{
            margin-bottom: 24px;
            font-size: 16px;
            font-weight: 400;
            color: $textGrayColor;
        }

        &>button {
            font-weight: 500;
            color: #FFFFFF;
            background-color: transparent;
            border: 1px solid $accentColor;

            &:hover {
                background: rgba(199, 120, 221, 0.2);
            }

            @media screen and (max-width: 650px) {
                width: 100%;
            }
        }
    }

    &__photo {
        width: 360px;
        height: 360px;
        max-width: 95%;
        overflow: hidden;
        border-radius: 50%;

        @media screen and (max-width: 800px) {
            width: 40%;
            height: auto;
        }
        @media screen and (max-width: 650px) {
            width: 80%;
        }
    }
}


.button {
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid $accentColor;
    &>:not(:last-child) {
        margin-right: 5px;
    }
    &:hover {
        background: rgba(199, 120, 221, 0.2);
    }
}


h1,
h2,
h3,
h4,
h5,
h6
{
    color: #FFFFFF;
}

.projectsBlock {
    &__projects {
        
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media screen and (max-width: 860px){
            flex-direction: column;
        }

        &__item {
            display: flex;
            flex-direction: column;

            border: 1px solid $textGrayColor;
            width: 30%;

            @media screen and (max-width: 860px){
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .project__item__text {
                    flex-grow: 1;
                    width: 50%;
                }
                .projects__image {
                    min-width: 200px;
                    width: 50%;
                    height: 330px;
                    // background-image: url("../img/projects-screens/todo1.jpg");
                }
            }

            @media screen and (max-width: 512px){
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                .project__item__text {
                    width: 100%;
                }
                .projects__image {
                    min-width: 200px;
                    width: 100%;
                    height: 330px;
                    // background-image: url("../img/projects-screens/todo1.jpg");
                }
            }
            

            .technologies {
                width: 100%;
                padding: 8px;
                border: solid $textGrayColor;
                border-width: 0 0 1px 0;
                font-weight: 400;
                font-size: 16px;

            }

            .project__info {
                width: 100%;
                padding: 16px 10px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                flex-grow: 1;
                &>*:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            .projects__image {
                min-height: 260px;
                background-image: url("../img/projects-screens/todo1.jpg");
            }
        }
    }
}

.skillsBlock {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    &__grid {
        align-self: flex-end;
        display: flex;
        width: 60%;
        min-width: 430px;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            min-width: 200px;
            width: 100%;
            .skill:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &>.col {
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                margin-right: 16px;

                @media screen and (max-width: 500px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
            
            &>.skill {
                display: flex;
                flex-direction: column;
                border: 1px solid $textGrayColor;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &>* {
                    padding: 8px;
                }

                &>h4 {
                    border-bottom: 1px solid $textGrayColor; 
                }
            }
        }
    }
    

}

.aboutBlock {
    margin-top: 70px;
    &__text {
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        &>p {
        margin-bottom: 20px;
        }
    }
}


.react {
    display: inline-block;

    &>i:hover {
        transform: scale(1.5);
    }
}

.contactsBlock {
    margin-top: 70px;

    
    &__text {
        display: flex;
        justify-content: space-between;
        

        p {
            width: 50%;
        }

        section {
            border: 1px solid $textGrayColor;
            display: flex;
            flex-direction: column;
            padding: 16px;
            justify-content: space-between;
        }
        @media screen and (max-width: 620px) {
            flex-direction: column;

            p {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}


footer {
    margin-top: 130px;
    width: 100%;
    border-top: 1px solid $textGrayColor;
}

.footer {
    padding: 32px 0;
    display: grid;
    grid-template-areas: "logo media"
    "copyright copyright";
    justify-content: space-between;

    &__logo {
        font-size: 24px;
        font-weight: bold;
        grid-area: logo;
    }
    &__media {
        display: flex;
        flex-direction: column;
        grid-area: media;
        
        &>h2 {
            font-size: 24px;
        }
        &>.footer__media__links>a{
            height: 20px;
            font-size: 20px;
        }
    }

    &>span {
        font-size: 16px;
        padding-top: 48px;
        display: block;
        width: 100%;
        grid-area: copyright;
        text-align: center;
    }
}